* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

div.login-form-container {
	box-shadow: 2px 2px 4px #CCC;
	border-radius: 5px;
	margin: 20px auto;
	max-width: 400px;
	background: #EEE;
	padding: 20px;
}